.presentation {
  min-height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-inline: 7% 7%;
  color: white;
  background-color: #1b1918;
}

.presentation--right {
  width: 70%;
}

.project {
  position: relative;
  min-height: 90vh;
  padding-inline: 7% 7%;
}

.project .project--list,
.education .education--list,
.skill .skill--list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project--title,
.education--title,
.skill--title {
  margin-bottom: 0.8rem;
}

.project--card--list {
  padding-block: 3rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card {
  width: 22.6rem;
  height: 30.8rem;
  border-radius: 0.4rem;
  padding-block: 0 1rem;
  box-shadow: 1px 1px 5px gray;
}

.card--body {
  padding-inline: 0.8rem 0.8rem;
}

.card--image {
  height: 60%;
  border-start-start-radius: inherit;
  border-start-end-radius: inherit;
}

.card--title {
  margin-bottom: 0.5rem;
}

.card--description {
  text-align: justify;
}

.card--over {
  animation: other;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}

@keyframes other {
  0% {
    background-image: url(../../../image/project/other/image1.png);
  }
  50% {
    background-image: url(../../../image/project/other/image2.png);
  }
  100% {
    background-image: url(../../../image/project/other/image3.png);
  }
}

.education {
  min-height: 90vh;
  padding-inline: 7% 7%;
  color: white;
  background-color: hsl(10, 5%, 10%);
}

.education--card--list {
  margin-top: 2rem;
}

.education--card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 35vh;
}

.education--right {
  width: 70%;
}

.skill {
  min-height: 85vh;
  padding-inline: 7% 7%;
}

.skill--card--list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-block: 10vh 0;
}

.skill--card {
  width: 17%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10rem;
  box-shadow: 1px 1px 5px black;
  border-radius: 0.3rem;
  margin-block: 1rem 1rem;
  margin-inline: 1rem 1rem;
  background-color: rgba(13, 240, 209, 0.05);
}

.footer {
  padding-block: 1rem 1rem;
  color: white;
  background-color: hsl(10, 5%, 10%);
}

.footer,
.footer--right div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-inline: 4% 4%;
}

.footer h4,
.footer p {
  margin-block: 0.2rem 0.2rem;
}
