.presentation {
    min-height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 7% 7%;
    color: white;
    background-color: hsl(10, 5%, 10%);
}


.presentation--right {
    width: 70%;
}

.project {
    min-height: 92vh;
    padding-inline: 7% 7%;
}

.project .project--list,
.education .education--list,
.skill .skill--list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project--title,
.education--title,
.skill--title {
    margin-bottom: 0.8rem;
}

.project--card--list {
    padding-block: 3rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card {
    width: 21rem;
    height: 30rem;
    padding: 0.5rem 1rem;
    border: 1px solid black;
    border-radius: 0.4rem;
}

.card--image {
    height: 60%;
}

.card--title {
    margin-bottom: 0.5rem;
}

.card--description {
    text-align: justify;
}

.education {
    min-height: 90vh;
    padding-inline: 7% 7%;
    color: white;
    background-color: hsl(10, 5%, 10%);
}

.education--card--list {
    margin-top: 2rem;
}

.education--card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 35vh;
}

.education--right {
    width: 70%;
}

.skill {
    min-height: 85vh;
    padding-inline: 7% 7%;
}

.skill--card--list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-block: 10vh 0;
}

.skill--card {
    width: 17%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10rem;
    border: 1px solid black;
    border-radius: 0.3rem;
    margin-block: 1rem 1rem;
    margin-inline: 1rem 1rem;
}

.footer {
    padding-block: 1rem 1rem;
    color: white;
    background-color: hsl(10, 5%, 10%);
}

.footer,
.footer--right div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 4% 4%;
}

.footer h4,
.footer p {
    margin-block: 0.2rem 0.2rem;
}